body {
    margin: 0;
    color: #FFF;
    background-color:#33C5FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */

header {
    text-align: center;
}
header img {
    width: 55px;
    padding: 20px;
}


/* UPDATE BIKE CARD */

.update-bike {
    color: #FFF;
    font-size: 16px;
    text-align: start;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(23, 13, 80);
    margin: 20px 7%;
    text-align: center;
}

.update-bike svg {
    margin: 0 10px;
}

.update-bike ul {
    font-size: 20px;
}

.bold {
    font-weight: 700;
    font-size: 24px;
}


/* MODAL */

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modal {
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

ul {
    text-align: left;
    margin-left: 5px;
    padding: 0;
    list-style: none;
    font-size: 20px;
}

.modal-header {
    padding: 15px;
    display: flex;
    background-color: rgb(23, 13, 80);
    border-bottom: 1px solid #eeeeee;
    color: #FFF;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    color: rgb(23, 13, 80);
    background-color: #FFF;
    position: relative;
    padding: 20px 10px;
}

.btn-close {
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #FFF;
    background: transparent;
}

/* FOOTER */

footer {
    font-size: 16px;
    margin: 7% 20px;
    text-align: center;
}

.contact-us {
    font-size: 20px;
}
.contact-us a {
    text-decoration: none;
    color: inherit;
}

.follow-us-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.follow-us-container a {
    text-decoration: none;
    color: inherit;
}

a svg {
    margin: 0 8px;
}
.follow-us-container a:hover{
    transform: scale(1.30);
    transition: all 1200ms;
}

/* MEDIA QUERY */

@media screen and (min-width: 668px) {
    .map {
        border: 2px solid #FFF;
        background: #FFF;
        margin: 2% 7%;        
        box-shadow: 2px 2px 20px 1px;
        border-radius: 20px;
    }
    .gmap {
        margin: 3% auto;
        width: 90% !important;
        
    }
    .modal {
        width: 70%;
    }
    .update-bike {
        width: 60%;
        margin: 20px auto;
    }
}