body {
    margin: 0;
    color: #FFF;
    background-color:#33C5FF;
}

/* HEADER */

header {
    text-align: center;
}
header img {
    width: 55px;
    padding: 6px;
}

/* UPDATE BIKE CARD */

.update-bike {
    color:  rgb(23, 13, 80);
    border-radius: 15px;
    margin: 20px 7%; 
}

/* MODAL */

.modal {
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

ul {
    list-style: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    color: #331c54;
    background-color: #FFF;
    position: relative;
}

.btn-close {
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #FFF;
    background: transparent;
}

/* FORM */

form {
    border-radius: 15px;
    margin: 20px 7%; 
}

input, select {
    height: 25px;
    width: 100%;
    background-color: #FFF!important;
}

.error-message {
    color: coral;
}

select {
    text-align-last: center;
}

.button-add-bike, .button-send {
    border-radius: 15px;
    border: 1px solid #111;
}

/* FOOTER */

footer {
    margin: 7% 20px;

}

.contact-us a {
    text-decoration: none;
    color: inherit;
}

.follow-us-container {
    display: flex;
    justify-content: center;
}

.follow-us-container a {
    text-decoration: none;
    color: inherit;
}

.follow-us-container a:hover{
    transform: scale(1.30);
    transition: all 1200ms;
}

/* MEDIA QUERY */

@media screen and (min-width: 668px) {
    .map {
        border: 2px solid #FFF;
        background: #FFF;
        margin: 2% 7%;        
        box-shadow: 2px 2px 20px 1px;
        border-radius: 20px;
    }
    
    .gmap {
        margin: 3% auto;
        width: 90% !important;
        
    }

    .modal {
        width: 60%;
    }

    .update-bike, form {
        width: 75%;
        margin: 20px auto!important;
    }
}

@media screen and (min-width: 1200px) {
    .map {
        display: flex;
        margin: 2% 5%
    }

    .button-add-bike{
        position: absolute;
        margin: 1% 2%;
    }

    .gmap {
        width: 100% !important;
        margin: 100px 2% 20px 2%;
    }

    .update-bike, form {
        width: 300px;
        margin: 20px!important;
    }
}